body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

.content {
    padding: 20px;
}

.pagination {
    margin-top: 20px;
}

.page-item.active .page-link {
    background-color: #007bff;  /* Cor ativa */
    border-color: #007bff;
}

.page-link {
    color: #007bff;  /* Cor padrão */
}

.page-link:hover {
    color: #0056b3;  /* Cor ao passar o mouse */
}


.form-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

select[multiple] {
    height: auto;
    width: 150px;
}

button {
    align-self: flex-end;
    height: 36px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form {
    margin: 20px 0;
}

input, select, textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

/* Estilização do campo de busca */
#game-search {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 400px; /* Limita a largura máxima */
    padding: 8px; /* Adiciona preenchimento */
    margin-bottom: 10px; /* Espaçamento abaixo do campo */
    border: 1px solid #ccc; /* Borda do campo */
    border-radius: 4px; /* Borda arredondada */
}

/* Estilização da lista de sugestões */
#game-suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px; /* Borda arredondada */
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(50% - 20px); /* Ajusta a largura ao campo de busca */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilização dos itens da lista */
#game-suggestions li {
    padding: 8px 12px;
    cursor: pointer;
}

#game-suggestions li:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Para evitar que a lista de sugestões se estenda além do campo de busca */
body {
    position: relative; /* Necessário para o posicionamento absoluto da lista */
}
