{% extends "base.html" %}

{% block content %}
<h2>Adicionar Novo Jogo</h2>
<form action="{{ url_for('game.add_game') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Nome do Jogo:</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="form-group">
        <label for="platform">Plataforma:</label>
        <input type="text" class="form-control" name="platform" required>
    </div>
    <div class="form-group">
        <label for="release_year">Ano de Lançamento:</label>
        <input type="number" class="form-control" name="release_year">
    </div>
    <div class="form-group">
        <label for="developer">Desenvolvedora:</label>
        <input type="text" class="form-control" name="developer">
    </div>
    <div class="form-group">
        <label for="publisher">Distribuidora:</label>
        <input type="text" class="form-control" name="publisher">
    </div>
    <div class="form-group">
        <label for="genre">Gênero:</label>
        <input type="text" class="form-control" name="genre">
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea class="form-control" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="cover_image">Capa do Jogo:</label>
        <input type="file" class="form-control" name="cover_image" accept="image/*" required>
    </div>
    <div class="form-group">
        <label for="additional_images">Imagens Adicionais:</label>
        <input type="file" class="form-control" name="additional_images" accept="image/*" multiple>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar Jogo</button>
</form>
{% endblock %}
