{% extends "base.html" %}

{% block content %}
    <h1>Adicione o <b>{{ game.name }} </b> na sua lista</h1>
    <form method="POST">
        <label for="media">Mídia:</label>
        <select name="media" required>
            <option value="Física">Física</option>
            <option value="Digital">Digital</option>
        </select>

        <label for="rating">Rating (0-100):</label>
        <input type="number" name="rating" min="0" max="100" required>

        <button type="submit">Add to Wishlist</button>
    </form>
{% endblock %}
