<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meus Jogos{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('game.index') }}">Início</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}  <!-- Mostra o botão apenas para administradores -->
                    <li><a href="{{ url_for('game.add_game') }}">Adicionar jogos</a></li>
                    <li><a href="{{ url_for('admin.admin_dashboard') }}">Administrar usuários</a></li>
                {% endif %}
                <li><a href="{{ url_for('game.search_and_add_games') }}">Procurar jogos</a></li>
                <li><a href="{{ url_for('game.list_and_add_games') }}">Listar jogos</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
