{% extends "base.html" %}

{% block content %}
    <h1>Editar {{ user_game.game.name }} da sua lista</h1>
    <form method="POST">
        <label for="media">Mídia:</label>
        <select name="media" required>
            <option value="Física" {% if user_game.media == 'Física' %}selected{% endif %}>Física</option>
            <option value="Digital" {% if user_game.media == 'Digital' %}selected{% endif %}>Digital</option>
        </select>

        <label for="rating">Minha nota (0-100):</label>
        <input type="number" name="rating" min="0" max="100" value="{{ user_game.rating }}" required>

        <button type="submit">Salvar</button>
    </form>
{% endblock %}
